* {
    font-family: 'Poppins', sans-serif;
}
body {
    background: #E0FBFC;
    margin: 0;
    font-family: 'Poppins';
    
}
.navbar{
    background: #293241;
    padding: 1em;
    position: fixed;
    width: 100%;
}
.logo{
    text-decoration: none;
    font-weight: bold;
    color: #E0FBFC;
    font-size: 3em;
}
nav{
    display: block;
    
}
nav ul li{
    float: left;
}
li a{
    text-decoration: none;
    color: #E0FBFC;
    padding: 4em;
}
li a:hover{
    color: #EE6C4D;
    font-size: 1.05em;
}
.primary-nav{
    list-style-type: none;
    float: left;
}
.container{
    display: flex;
    place-content: space-between;
    text-align: center;
}
.topnav-container{
    text-align: center;
}
.topnav{
    text-align: left;
    background: #98C1D9;
    font-family: 'Poppins';
    font-weight: lighter;
    text-decoration: none;
    border-radius: 30px;
    border: 0px solid;
    padding: .3em 5em;
    outline: none;
    color: #293241;
    width: 600px;
    height: 40px;

}
.mobile-menu{
    cursor: pointer;
}
section{
    padding: 5em 2em;
}
.wel{
    text-align: center;
    font-weight: 300;
    font-size: 2.4em;
}
.resta{
    text-align: center;
    font-weight: bold;
    
    font-size: 2em;
    color:#EE6C4D;
    
}
.avail{
    background: #00FF00;
    text-align: center;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-left: 0em;
    padding: 0.25em 0.25em;
    font-size: 1em;
    border-radius: 1em;
    display: inline-block;
}
.rect{
   
    margin-bottom:10em;
}
.rect1{
    
    margin-left: 10em;

    margin-bottom: 0em;
    
}
.rect2{
    
    margin-left: 10em;
    margin-bottom: -31.25em;
}
.rect3{
    
   margin-left: 40em;
   
}
.rect4{
    margin-left: 40em;
    margin-bottom: -31.25em;
}
.rect5{
    margin-left: 70em;
    margin-bottom: 0em;
}
.rect6{
    margin-left: 70em;
}
.container-contact{
    background: #98C1D9;
    border-radius: 2em;
    text-align: center;
    height: 650px;
    
}
.contact-section{
    display: block;
}
h2{
    padding-top: 40px;
    font-family: 'Poppins';
    font-weight: bold;
}
label{
    display: block;
    margin-bottom: .5em;
    margin-top: .5em;
}
input, textarea{
    width: 25%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: 1em;
    border: 0px;
    box-sizing: border-box;
}

.send-button {
    background: #E2684C;
    border: 2px solid #E2684C;
    text-align: center;
    color: #E0FBFC;
    text-decoration: none;
    padding: .3em 2em;
    font-size: 1em;
    border-radius: 5em;
    display: inline-block;
    margin: 1em;
    transition: 0.3s;
}
.send-button:hover {
    background: #E0FBFC;
    color: #E2684C;
}