* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #E0FBFC;
    margin: 0;
    font-family: 'Poppins';
}
.navbar{
    background: #293241;
    padding: 1em;
}
.logo{
    text-decoration: none;
    font-weight: bold;
    color: #E0FBFC;
    font-size: 3em;
}
nav{
    display: block;
}
nav ul li{
    float: left;
}
li a{
    text-decoration: none;
    color: #E0FBFC;
    padding: 4em;
}
li a:hover{
    color: #EE6C4D;
    font-size: 1.05em;
}
.primary-nav{
    list-style-type: none;
    float: left;
}
.container{
    display: flex;
    place-content: space-between;
    text-align: center;
}
.head{
    margin-top: 4em;
    text-align: center;
}
.main{
    background-color: #98C1D9;
    border-radius: 2em;
    margin: 1em;
}
.table{
    padding: 1em;
    
    margin-top: 4em;
    margin-left: 10em;
}