<!DOCTYPE html>
<!-- Designed and Developed by Team Cliché Cookies-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height">
    <title>Replete | Choose</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/rest-or-org.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <section id="rest-or-org">
        <button class="restaurant" onclick="gotoRestReg()">Restaurant</button>
        <div class="or">or</div>
        <button class="organisation" onclick="gotoOrgReg()">Organisation</button>
    </section>
</body>

<script>
    function gotoRestReg() {
        fetch("/registration-restaurant", {
            "method" : "GET"
        }).success(location.href = "/registration-restaurant")
    }
    function gotoOrgReg() {
        fetch("/registration-organisation", {
            "method" : "GET"
        }).success(location.href = "/registration-organisation")
    }
</script>

</html>
